.GramNavTop {
    position: fixed;
    display: flex;
    height: 80px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #000000;
    @media (max-width: 720px) {
        li.nav-dropdown-li {
            display: flex;
        }
        li.content-li {
            display: none;
        }
    }
}

.nav-title {
    padding: 15px;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

@keyframes dropdown {
    0% {
        height: 0px;
    }
    100% {
        height: 150px;
    }   
}

@keyframes dropdown-li {
    0% {
        font-size: 0rem;
    }
    100% {
        font-size: 2rem;
    }
}

.nav-content {
    display: flex;
    padding: 15px;
    color: white;
    font-size: 3rem;
    flex-direction: row;
    align-items: center;
    .content-ul {
        overflow: auto;
        list-style-type: none;
    }
    .content-li, .nav-dropdown-li {
        float: left;
        display: flex;
        align-items: center;
    }
    .nav-list, .nav-album {
        cursor: pointer;
        &:hover {
            color: gray;
            border: 1px solid white;
        }
    }
    .nav-dropdown {
        cursor: pointer;
        &:hover {
            color: gray;
            border: 1px solid white;
        }
    }
    .nav-dropdown-li {
        display: none;
        .dropdown-ul {
            display:none;
            background: black;
            justify-content: center;
            align-content:center;
            flex-direction:column;
            flex-wrap: nowrap;
            position: absolute;
            top: 65px;
            right: 0px;
            width: 100%;
            padding: 5px;
            height: 0px;
            list-style-type: none;
            animation: dropdown 0.3s forwards;
            &:hover {
                .dropdown-ul {
                    display: flex;
                    top: 65px;
                }
            }
        }
        .dropdown-li {
            font-size: 0;
            text-align: center;
            margin: 10px;
            animation: dropdown-li 0.7s forwards;
            &:hover{
                cursor: pointer;
                background: blanchedalmond;
                color: black;
                transition: 0.5s ease-in;
            }
        }
        &:hover {
            .dropdown-ul {
                display: flex;
            }
        }
        
    }
}