.GramNavTop {
    z-index: 10;
    position: sticky;
    top:0;
    display: flex;
    height: 90px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #000000;
    @media (max-width: 720px) {
        li.nav-dropdown-li {
            display: flex;
        }
        li.content-li {
            display: none;
        }
    }
}

.nav-title {
    flex: 1;
    padding: 15px;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

@keyframes dropdown {
    0% {
        height: 0px;
    }
    100% {
        height: 200px;
    }   
}

@keyframes dropdown-li {
    0% {
        font-size: 0rem;
    }
    100% {
        font-size: 1.7rem;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(359deg);
    }
}

.nav-content {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    height: 100px;
    padding: 15px;
    color: white;
    font-size: 3rem;
    flex-direction: row;
    align-items: center;
    .content-ul {
        display: flex;
        height: 100%;
        justify-content: flex-end;
        overflow: hidden;
        list-style-type: none;
    }
    .content-li, .nav-dropdown-li {
        float: left;
        display: flex;
        align-items: center;
    }
    .nav-list, .nav-album, .nav-slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        &:hover {
            color: gray;
            border: 1px solid white;
            .tooltip-text {
                opacity: .8;
            }
        }
    }
    .nav-spin {
        cursor: pointer;
        &:hover {
            animation: spin 1s infinite linear;
        }
    }
    .nav-dropdown {
        cursor: pointer;
        &:hover {
            color: gray;
            border: 1px solid white;
        }
    }
    .nav-dropdown-li {
        display: none;
        .dropdown-ul {
            display:none;
            background: black;
            justify-content: center;
            align-content:center;
            flex-direction:column;
            flex-wrap: nowrap;
            position: absolute;
            top: 70px;
            right: 0px;
            width: 100%;
            list-style-type: none;
            animation: dropdown 0.3s forwards;
            &:hover {
                .dropdown-ul {
                    display: flex;
                }
            }
        }
        .dropdown-li {
            font-size: 0;
            text-align: center;
            margin-bottom: 10px;
            animation: dropdown-li 0.7s forwards;
            &:hover{
                cursor: pointer;
                background: blanchedalmond;
                color: black;
                transition: 0.5s ease-in;
            }
        }
        &:hover {
            .dropdown-ul {
                display: flex;
            }
        }
        
    }
}

.tooltip-text {
    color: black;
    background-color: white;
    border-color: black;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    z-index: 200;
    padding: 10px;
    position: absolute;
    font-size: 15px;
    top: 80px;
    transition: 0.3s ease-in;
    opacity: 0;
    &::before {
        color: white;
        position: absolute;
        top: -20%;
        left: 10%;
        border-top: 0 solid transparent;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid;
        content: '';
    }
}
