.GramTemplate {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
    padding-right: 5%;
    padding-left: 5%;
    .FloatMenu {
        position: sticky;
        top: 90px;
        height: 15px;
    }
}